<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let event of events">
    <img style="width:100%;height:250px;object-fit: cover;" [src]="event.image" alt="">
    <ion-card-header>
      <ion-card-title>{{event.name}}</ion-card-title>

      <ion-card-subtitle>{{event.createdAt |date}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{event.description}}
    </ion-card-content>
  </ion-card>
</ion-content>